#!/bin/bash

if [ -r ${MODULESHOME}/init/sh ]
then
	. ${MODULESHOME}/init/sh
fi

function prod_config {
# The source data directory
HAPMAP_DIR="~/shared-genepi/genepi/hapmap-source"

# Eur Afr Asian"
POPULATIONS="Eur Afr Asian"
# States
STATES_LIST=8
TRAINING_BURNIN_FACTOR=1
TRAINING_BURNIN_DIVISOR=100
TRAINING_SAMPLES=8000

TESTING_SAMPLES=2500
TESTING_BURNIN_FACTOR=4
TESTING_BURNIN_DIVISOR=5

# Set to zero to have no limit
# LOCI_LIMIT=5000
LOCI_LIMIT=0

# Masking
PERCENT_INDIVS=17
PERCENT_LOCI=30

# Every n iterations (do something...?)
TRAINING_EVERY=5
TESTING_EVERY=5
}

function test_config {
# The source data directory
HAPMAP_DIR="~/shared-genepi/genepi/hapmap-source"

# Eur Afr Asian"
POPULATIONS="Eur Afr Asian"
# States
# STATES_LIST=$(seq 18 -2 2)
STATES_LIST=8
TRAINING_BURNIN_FACTOR=10
TRAINING_BURNIN_DIVISOR=100
TRAINING_SAMPLES=12

# TESTING_SAMPLES=2500
TESTING_SAMPLES=12
TESTING_BURNIN_FACTOR=1
TESTING_BURNIN_DIVISOR=10

# Set to zero to have no limit
# LOCI_LIMIT=5000
LOCI_LIMIT=0

# Masking
PERCENT_INDIVS=17
PERCENT_LOCI=30

# Every n iterations (do something...?)
TRAINING_EVERY=1
TESTING_EVERY=1
}

# test_config
prod_config
